<!--   <?php include('newTemplate.php'); ?> this does nothing with or without in the code-->

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="newTemplate.php" >
    <style>
        @page { margin: 2cm}
        div.page{ page-break-after: always}
    </style>

</head>
    <br> <br>
    <body> 

        <center> 
        <!-- template page 1 -->
        <div class = "page" 
        style= "border: 3px solid whitesmoke;
        width: 990px;
        height: 500px;
        margin: 10; " >
            
                <!-- Logo area -->
                <div style= " 
                position: relative; 
                width: 100%;
                min-height: auto;
                padding: 10px;
                top: 100px;
                right: -50px;
                float: leftt;
                margin: 10;
                 ">

                    <h1 class="imageStyle" style="margin-left: -600px;">
                        <!-- <img src="sb1.png" alt="spongebob" > --> 
                        <!-- type = "text/css" <img src="data:image/jpg;charset=utf8;base64 <?= " alt="spng bob"> -->
                        
                    </h1>

        

                </div>

                <div class="brandingGuidelinesStyle" style="   
                position: relative;
                left: 450px;
                top: -300px;
                width: 300px;
                padding: 50px;
                margin: 80px;
                margin-left: -300px;"
                
                >
                <h1 class="brandingGuidelinesStyle">
                    Branding Guidelines
                </h1>

            </div>
                <!-- Guidelines Box -->
                <!-- <div  type = "text/css" class ="brandingGuidelinesStyle">

                    <h1 class="fontChosen" >
                        Branding Guidelines
                    </h1>
                </div>  working but making a box from scratch   -->
                
            
    </div>

        <br> <br> <br> 

<!-- Template page 2-->
        <div class= "page" style="  
        border: 3px solid whitesmoke; 
        page-break-after: always;
        width: 990px;
        height: 500px;
        margin: 10; ">
        <h1>

        </h1>
            
                <!-- Overview Box -->
                <div style= "
                position: relative; 
                width: 350px;
                height: 150px;
                padding: 10px;
                top: 100px;
                right: -50px;
                float: leftt;
                margin: 10;">

                <h1 class="overviewStyle" style="margin-left: -600px; padding: 32px ">
                    Overview  
                </h1>
                </div>
                <!-- mission statement Box -->
                <div style= " 
                width: 350px;
                height: 150px;
                padding: 0px;
                right: -500px;
                float: right;
                top: -150px;
                margin: 10;">

                <h1 class= "missionStatementStyle" style=" padding: 32px; margin-top: -30px; margin-left: -100px; ">
                </h1>
                </div>
        </div>

        <br> <br> 
 <!-- Template page 3-->
        <div class= "page" style=" 
        border: 3px solid whitesmoke; 
        width: 990px;
        height: 500px;
        margin: 10; ">

        <h1>

        </h1>

                <!-- Table of Contents Box -->
                <div style= "
                position: relative; 
                width: 350px;
                height: 150px;
                padding: 10px;
                top: 100px;
                right: -50px;
                float: leftt;
                margin: 10;">

                <h1 class="tableOfContentsStyle" style="padding: 32px; margin-left: -600px;">
                    Table of Contents
                </h1>
                </div>
                <!-- list Box -->
                <div style= "
                width: 350px;
                height: 150px;
                padding: 0px;
                right: -500px;
                float: right;
                top: -150px;
                margin: 10;">

                    <h1 class="listStyles" style=" padding: 15px; text-align:left; margin-top: -20px; ">
                        01. Logos <br>
                        02. Typography <br>
                        03. Colors

                    </h1>
                </div>
        </div>

        <br> <br> 
<!-- Template page 4 -->
        <div class= "logoPageStyle"style="        
         border: 3px solid whitesmoke;
        width: 990px;
        height: 500px;
        margin: 10; ">
            <h1>

            </h1>
            
                <!-- chapter  -->
                <div style= "
                position: relative; 
                width: 700px;
                height: 200px;
                padding: 10px;
                top: 100px;
                right: -50px;
                float: leftt;
                margin: 10;">

                <h1 class="logoWordStyle" style=" padding: 32px; margin-top: 150px;
                font-size: 100px;">
                    01. Logos
                </h1>
        </div>

        </div>
        
        <br> <br> <br> 

        <div class = "page" style="         
        border: 3px solid whitesmoke;
        width: 990px;
        height: 500px;
        margin: 10; ">
            <h1>

            </h1>
            
                <!-- primary Logo -->
                <div style= "
                position: relative; 
                width: 350px;
                height: 150px;
                padding: 10px;
                top: 100px;
                right: -50px;
                float: leftt;
                margin: 10;">

                <h1 class= "primaryLogoStyle" style=" padding: 32px;  margin-left: -600px; ">
                    Primary Logo <br>

                    <h2 class="primaryLogoStyle" style="margin-left: -600px; ">
                        This logo will be placed <br>
                        consistently and thoughtfully. 
                     </h2>
                        

                </h1>
                </div>
                <!-- Logo Box -->
                <div style= "
                width: 350px;
                height: 150px;
                padding: 0px;
                right: -500px;
                float: right;
                top: -150px;
                margin: 10;">

                <h1 class="imageStyle" style=" padding: 15px; margin-top: -100px; margin-left: -50px;">


                </h1>
                </div>
            
        </div>

        <br> <br> <br>

        <div class="logoPageStyle" style="
        border: 3px solid whitesmoke;
        width: 990px;
        height: 500px;
        margin: 10; ">
            <h1>
                
            </h1>
            
                <!-- Typography -->
                <div style= "
                position: relative; 
                width: 990px;
                height: 500px;
                padding: 10px;
                top: 100px;
                right: -50px;
                float: leftt;
                margin: 10;">

                <h1 class= "logoWordStyle" style=" padding: 32px; margin-top: 150px;
                font-size: 100px;">
                    02. Typography
                </h1>


                </div>
        </div>
         <br> <br> <br> 

        <div class = "page" style="
        border: 3px solid whitesmoke;
        width: 990px;
        height: 500px;
        margin: 10; ">
            <h1>
            </h1>
            
                <!-- Table of Contents Box -->
                <div style= "
                position: relative; 
                width: 350px;
                height: 150px;
                padding: 10px;
                top: 100px;
                right: -50px;
                float: leftt;
                margin: 10;">

                <h1 class="fontStyle" style=" padding: 32px; margin-left: -600px; " >
                    Headings Font <br>

                    <h2 class="fontSecondaryStyle" style="margin-left: -600px" >
                        This is the primary typeface. <br>
                     </h2>
                        

                </h1>
                </div>
                <!-- list Box -->
                <div style= "
                width: 350px;
                height: 150px;
                padding: 0px;
                right: -500px;
                float: right;
                top: -200px;
                margin: 10;">

                <h1 class="fontChosenStyle" style=" padding: 15px; margin-left: -100px; margin-top:-25px; ">
                     
                    </h1> <br> 
                    <h3 class="fontStyle " style=" padding: 15px; margin-left: -100px; margin-top: -50px;">
                        A B C D E F G H I J K L M <br> 
                        N O P Q R S T U Z W X Y Z <br>
                        a b c d e f g h i j k l m <br>
                        n o p q r s t u c w x z y <br>
                        1 2 3 4 5 6 7 8 9 0 <br>
                        ! @ # $ % ^ & *

                    </h3>

                    

                
                </div>
            
        </div>

        <br> <br> <br> 


        <div class ="logoPageStyle" style="         
        border: 3px solid whitesmoke;
        width: 990px;
        height: 500px;
        margin: 10; ">
            <h1>
            </h1>
            
                <!-- title page -->
                <div style= "
                position: relative; 
                width: 990px;
                height: 500px;
                padding: 10px;
                top: 100px;
                right: -50px;
                float: leftt;
                margin: 10;">

                <h1 class="logoWordStyle" style=" padding: 32px; margin-top: 150px;
                font-size: 100px;">
                    03. Colors
                </h1>

                </div>

        </div>
<br> <br> <br>

<!-- Page 9 of template -->
        <div style="

        border: 3px solid whitesmoke;
        width: 990px;
        height: 500px;
        margin: 10; ">
            <h1>
            </h1>
            
                <!-- colors  -->
                <div style= "
                position: relative; 
                width: 350px;
                height: 150px;
                padding: 10px;
                top: 100px;
                right: 300px;
                float: leftt;
                margin: 10;">

                <h1 class="fontStyle" style=" padding: 32px; font-size:400%; ">
                    Colors: <br>
                </h1>
                <h3>

                </h3>
            </div>
                <!-- list Box -->
                <div style= "
                float:inline-end;" >

                <h2 class="logoWordStyle" style= "
                position:relative; 
                top: 100px;
                ">   
                    Primary Color
                </h2>
                    <div class="secondaryColor" style="
                    height: 200px;
                    width: 200px;
                    border-radius: 50%; 
                    margin-top: -150px;
                    margin-left: 500px;
                    ">
                        
                    </div>

                    <h2 class="logoWordStyle" style= "position:relative; margin-left: 500px; margin-top: 5px;">
                        Secondary Color
                    </h2>
                    <div class="primaryColor" style=" 
                    height: 200px;
                    width: 200px;
                    border-radius: 50%; 
                    margin-left: 900;
                    margin-top: -255px
                    ">


                    </div>      
                </div>  
        </div>

        <br> <br> 
    </center>
        
    </body>
</html>
